---
import Layout from '../layouts/Layout.astro';
import CharacterCards from '../components/Characters.astro';
---

<Layout title="Fire Emblem: Engage - Comapanion">
	<h1 class="text-center my-10 text-5xl font-bold text-white">Characters</h1> 
	<CharacterCards />
</Layout>
