---
import Layout from '../layouts/Layout.astro';
import CharacterCards from '../components/Characters.astro';
---

<Layout 
	title="Fire Emblem: Engage - Planner"
	description="Web application with the necessary information to know the statistics of the characters, classes, and weapons of the game Fire Emblem Engage."
>
	<h1 class="mb-10 text-5xl font-bold text-center">Characters</h1>
	<CharacterCards />
</Layout>
