---
import characters from '../data/characters.json'
---

<section class="grid max-w-5xl grid-cols-3 gap-2 px-4 m-auto sm:grid-cols-4 md:grid-cols-6">
    { characters.map(char => (
        <a href={`character/${char.ID}`}
            class="flex flex-col p-2 transition bg-gray-800 border border-gray-700 rounded-lg shadow-md hover:scale-105 hover:bg-gray-700 hover:border-gray-500">
            <picture class="justify-center h-full rounded-lg md:row-span-2 md:col-span-2">
                <img src={char.Image} class="object-cover object-top h-full mx-auto rounded-lg" alt={char.Name}/>
            </picture>
            <h2 class="mt-2 text-base font-semibold tracking-wide text-center sm:text-2xl text-neutral-300">{char.Name}</h2>
        </a>
        ))
    }
</section>
