<header class="inset-x-0 top-0 z-30 w-full max-w-full py-2 mx-auto mt-0 mb-4 border shadow-sm backdrop-blur-lg sm:max-w-xl sm:my-4 sm:rounded-full border-gray-100/50 bg-white/50">
	<div class="flex items-center justify-between px-2">
		<a aria-current="page" class="flex items-center" href="/">
		  <img class="w-auto h-9" src="/images/Logo.webp" alt="Logo">
		</a>
		<div class="flex items-center justify-end gap-3">
		  <a class="inline-flex items-center justify-center px-3 py-2 text-sm font-semibold text-white transition-all duration-150 bg-blue-600 rounded-full shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" href="/">
			Home
		  </a>
		</div>
	</div>
</header>