<header class="fixed top-0 z-50 w-full mb-4">
	<nav class="flex items-center justify-between w-full h-16 px-5 border-b border-neutral-300 bg-neutral-900">
		<a href="/" class="flex flex-row">
			<img src="../src/assets/images/Logo.webp" class="h-8 mr-3" alt="Logo">
		</a>
		<a href="/" class="justify-center border-2 border-neutral-300 cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100">Home</a>
	</nav>
</header>
