---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '@fontsource-variable/onest'

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<ViewTransitions />
	</head>
	<body class="min-h-screen pt-20 pb-3">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
        color-scheme: dark;
	}
	html {
		font-family: 'Onest Variable', system-ui, Roboto;
		background-image: linear-gradient(to top, #e4454f 0%, #44408f 100%);
		color: rgb(209 213 219);
	}
	p {
		margin-bottom: 0.5em;
	}
	th, td{
		padding: 0.25rem;
	}
	*:disabled {
		background-color: rgb(107 114 128);
		color: rgb(55 65 81);
  		opacity: 1;
	}
	
</style>
